/* General styling & global reset */

:root {
  --primary-font:'Montserrat', sans-serif;

  --primary-color: #133015;
  --secondary-color: #30b232;
  --tertiary-color: #DBFE8C;

  --bg-color-light: #F7F7F7; /* off-white */

  --bg-gradient: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--tertiary-color)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1 rem;
  font-family: var(--primary-font);
  background: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}