
.teaser {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-gradient);
  overflow: hidden;
}

/* Content stays above bubbles */
.teaser-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.teaser-content h1 {
  font-size: clamp(2rem, 4vw, 2.5rem);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.teaser-content p {
  font-size: 1rem;
}

.teaser-content a {
  color: white;
  font-weight: 600;
  text-decoration: underline;
}

/* Bubble container */
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Individual bubbles */
.bubbles span {
  position: absolute;
  display: block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: floatUp linear infinite;
}

/* Different bubble sizes & speeds */

.bubbles span:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 10%;
  animation-duration: 18s;
}

.bubbles span:nth-child(2) {
  width: 120px;
  height: 120px;
  left: 20%;
  animation-duration: 22s;
}

.bubbles span:nth-child(3) {
  width: 60px;
  height: 60px;
  left: 35%;
  animation-duration: 16s;
}

.bubbles span:nth-child(4) {
  width: 150px;
  height: 150px;
  left: 65%;
  animation-duration: 26s;
}

.bubbles span:nth-child(5) {
  width: 90px;
  height: 90px;
  left: 80%;
  animation-duration: 20s;
}

.bubbles span:nth-child(6) {
  width: 50px;
  height: 50px;
  left: 55%;
  animation-duration: 14s;
}

.bubbles span:nth-child(7) {
  width: 60px;
  height: 60px;
  left: 30%;
  animation-duration: 17s;
}

.bubbles span:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 50%;
  animation-duration: 20s;
}

/* Floating animation */

@keyframes floatUp {

  0% {
    transform: translateY(110vh);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(-20vh);
    opacity: 0;
  }

}